/* start global */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
*{
    margin: 0;
    border: none;
    outline: none;
    color: black;
    text-decoration: none;
    box-sizing: border-box;
    transition: 0.2s ease-in-out;
    font-family: 'Roboto', sans-serif;
}
body{
    padding: 0 8%;
    background-color: #F7EFED;
    background-image: url(../images/plane.png);
    background-repeat: no-repeat;
}
/* end global */
/* start header */
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    margin: 5vh 0 18vh;
}
header .logo img{
    width: 10rem;
}
header nav{
    display: flex;
    gap: 1.5rem;
}
header nav a{
    font-size: 20px;
    font-weight: bold;
}
header nav a:hover, header .search-box i:hover{
    color: #eab524;
}
header .search-box{
    display: flex;
    align-items: center;
    background-color: black;
    padding: 0.8rem 1.6rem;
    border-radius: 50px;
}
header .search-box::before{
    content: url(../images/search.png);
    margin-right: 10px;
}
header input{
    color: white;
    font-size: 1.2rem;
    background-color: black;
}
header input::placeholder{
    color: white;
}
header .search-box i{
    color: white;
    font-size: 2.2rem;
    padding-left: 15px;
    border-left: 2px solid white;
    cursor: pointer;
}
/* end header */
/* start home */
.home{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 45vh;
    margin-bottom: 18vh;
}
.home .flavour{
    width: 40%;
}
.home h2{
    font-size: 3.6rem;
    text-transform: uppercase;
}
.home p{
    font-size: 1.2rem;
    opacity: 0.8;
}
.home .counter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}
.home .cart{
    display: flex;
    align-items: center;
    gap: 1rem;
    color: white;
    background-color: black;
    padding: 0.4rem 1.5rem 0.4rem 0.4rem;
    border-radius: 50px;
    cursor: pointer;
}
.home .cart i{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.2rem;
    width: 3.6rem;
    height: 3.6rem;
    background-color: #eab524;
    border-radius: 50px;
}   
.home .cart i:hover{
    background-color: #ffc936;
}
.home .cart h4{
    color: white;
    font-size: 20px;
}
.home .control{
    display: flex;
    gap: 1rem;
}
.home button, .home input{
    font-size: 1.4rem;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%
}
.home button{
    background-color: white;
    box-shadow: 0px 6px 16px rgb(0, 0, 0, 0.15);
    cursor: pointer;
}
.home button:active{
    box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.4);
}
.home button:hover{
    box-shadow: 0px 6px 15px rgb(0, 0, 0, 0.25);
}
.home input{
    text-align: center;
    border: 2px solid #ffc936;
}
.home .pack{
    display: flex;
    width: 60%;
}
.home .image{
    height: 30rem;
    filter: drop-shadow(0px 0px 15px rgb(0, 0, 0, 0.6));
}
.home .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.8rem;
}
.home .box{
    display: flex;
    align-items: center;
    gap: 1.4rem;
}
.home .container > .box .content{
    background-color: #d51037;
}
.home .box:nth-child(2) .content{
    background-color: #eab524;
}
.home .box:last-child .content{
    background-color: #23675A;
}
.home .content{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    box-shadow: 0px 4px 10px rgb(0, 0, 0, 0.25);
}
.home .box img{
    height: 2.6rem;
}
.home h3{
    text-transform: uppercase;
}
/* end home */
/* start footer */
footer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 25vh;
    background-color: #23675A;
    padding-top: 10px;
    border-radius: 50px 50px 0 0;
}
footer .box{
    display: flex;
    align-items: center;
    width: 15rem;
    height: 8rem;
    background-color: white;
    border-radius: 20px;
    cursor: pointer;
}
footer .box:hover{
    transform: scale(1.1);
}
footer img{
    height: 10rem;
    transform: translate(-4rem);
    filter: drop-shadow(0px 0px 5px rgb(0, 0, 0, 0.4));
}
footer .content{
    margin-left: -5rem;
}
footer h4, footer p{
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}
footer a{
    font-size: 0.8rem;
    background-color: #eab524;
    padding: 0.28rem 0.6rem;
    text-transform: uppercase;
    border-radius: 20px;
}
footer a:hover{
    background-color: #ffc936;
}
/* end footer */